.card {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
}
.card-container {
    display: flex;
}

.btn {
    width: 200px;
}